.DS_Store
node_modules/.bin/*
node_modules
yarn-error.log

# scripts
start.sh
start-docker.sh
Dockerfile

# certificate keys etc
*totem.live.*
*fullchain.*
*privkey.*
sslcert/*.csr
sslcert/*.key
sslcert/*.pem

# ignore submodules
.gitmodules